[submodule "Project-1-URL-Shortener"]
	path = Project-1-URL-Shortener
	url = https://github.com/shrishreshth546/Project-1-URL-Shortener.git
[submodule "Project-2-File_Organizer-"]
	path = Project-2-File_Organizer-
	url = https://github.com/shrishreshth546/Project-2-File_Organizer-.git
